*[data-bundle-presenter] {
  &.loading {
    .product-bundle-configurator-option-label {
      transition: linear all 0.25s;
      opacity: 0.5;
      background: #EEE !important;
      cursor: auto;
      color: #4a545b;
    }
  }
}

.product-bundle-configurator-option-label {
  box-shadow: none;
  height: auto;
  padding: 5px 10px;
  display: inline-flex;
  border: 1px solid #bcc1c7;
  cursor: pointer;

  &.selected {
    background-color: #008490;
    color: #fff;
  }

}



