{% block page_product_detail_configurator %}
    <div data-bundle-presenter>
    {% for propertyGroupCollection in page.product.extensions.bundles.elements %}
        <strong class="group-collection-title mt-2">{{ propertyGroupCollection.product.translated.name }}</strong>
        <section data-group-collection-id="{{ propertyGroupCollection.id }}" class="group-collection mb-3">
            {% for propertyGroup in propertyGroupCollection.product.customFields.configuratorCollection.elements %}
            <div class="property-group-name mt-2"><span>{{ propertyGroup.translated.name }}</span></div>
            <div data-property-group-id="{{ propertyGroup.id }}" class="group">
            {% for propertyGroupOption in propertyGroup.options.elements %}
                {% set optionIdentifier = [propertyGroup.id, propertyGroupOption.id]|join('-') %}
                <div class="product-bundle-configurator-option-label"
                     data-group-collection-id="{{ propertyGroupCollection.id }}"
                     data-bundle-product-id="{{ propertyGroupCollection.product.id }}"
                     data-group-id="{{ propertyGroup.id }}"
                     data-group-option-id="{{ propertyGroupOption.id }}">
                        {{ propertyGroupOption.translated.name }}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </section>
    {% endfor %}
    </div>
{% endblock %}