{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}


{% block page_product_detail_buy_inner %}
    <div class="product-detail-buy js-magnifier-zoom-image-container">

        {% block page_product_detail_buy_container %}
            <div itemprop="offers"
                 itemscope
                 itemtype="{% if page.product.calculatedPrices|length > 1 %}http://schema.org/AggregateOffer{% else %}http://schema.org/Offer{% endif %}">

                {% block page_product_detail_data %}
                    {% if page.product.extensions.bundles|length > 0 %}
                    {% block page_product_detail_price %}
                        <div class="product-detail-price-container">
                            {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
                        </div>
                    {% endblock %}
                    {% else %}
                        {{ parent() }}
                    {% endif %}

                {% endblock %}

                {% block page_product_detail_configurator_include %}
                    {% if page.product.extensions.bundles|length > 0 %}
                        <div class="product-detail-bundle-configurator-container">
                            {% sw_include '@Storefront/storefront/page/product-detail/bundle-configurator.html.twig' %}
                        </div>
                    {% else %}
                        {{ parent() }}
                    {% endif %}
                {% endblock %}

                {% block page_product_detail_buy_form %}
                    {{ parent() }}
                {% endblock %}

            </div>
        {% endblock %}

        {% block page_product_detail_ordernumber_container %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
