{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

{% block page_product_detail_price_inner %}
    {% if page.product.extensions.bundles.elements %}
        {% sw_include '@Storefront/storefront/page/components/bundle-product-prices.html.twig'
            with {bundles: page.product.extensions.bundles.elements} %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}