{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_product_buy_info %}
    {%  if  page.product.extensions.bundles.elements %}
        <div id="placeholder-selected-bundles" data-form-input-placeholder>
            {# used by BundlePlugin in app/storefront/src/bundle-plugin/bundle-plugin.plugin.js #}
        </div>
    {% else %}
        {{ parent() }}
    {%  endif %}
{% endblock %}

{% block page_product_detail_buy_quantity_container %}
    {# Override with an empty block - removing container #}
    {% block page_product_detail_buy_quantity %}
        {# Override with an empty block - removing quantity select #}
    {% endblock %}
{% endblock %}
