{% block page_product_detail_price_block %}

    <div class="product-block-prices">
        {% block page_product_detail_price_block_table %}
            <table class="table table-sm table-bordered product-block-prices-table">
                {% block page_product_detail_price_block_table_head %}
                    <thead class="product-block-prices-head">
                    {% block page_product_detail_price_block_table_head_inner %}
                        <tr class="product-block-prices-row">
                            <th scope="col" class="product-block-prices-cell">
                                {{ "detail.dataColumnQuantity"|trans|sw_sanitize }}
                            </th>
                            <th scope="col" class="product-block-prices-cell">
                                {{ "detail.dataColumnPrice"|trans|sw_sanitize }}
                            </th>
                            {% if bundle.product.calculatedPrice.referencePrice %}
                                <th scope="col" class="product-block-prices-cell">
                                    {{ "detail.dataColumnReferencePrice"|trans|sw_sanitize }}
                                </th>
                            {% endif %}
                        </tr>
                    {% endblock %}
                    </thead>
                {% endblock %}

                {% block page_product_detail_price_block_table_body %}
                    <tbody class="product-block-prices-body">
                    {% block page_product_detail_price_block_table_body_inner %}
                        {% for price in bundle.product.calculatedPrices %}
                            {% block page_product_detail_price_block_table_body_row %}
                                <tr class="product-block-prices-row"
                                    itemprop="offers" itemscope
                                    itemtype="https://schema.org/Offer">

                                    {% block page_product_detail_price_block_table_body_cell_quantity %}
                                        <th scope="row" class="product-block-prices-cell">
                                            <meta itemprop="priceCurrency" content="{{ page.header.activeCurrency.id }}" />
                                            <meta itemprop="price" content="{{ price.unitPrice }}" />
                                            <link itemprop="availability" href="https://schema.org/InStock" />

                                            {% if loop.last %}
                                                {{ "detail.priceDataInfoFrom"|trans|sw_sanitize }}
                                                <span class="product-block-prices-quantity">{{ price.quantity }}</span>

                                            {% else %}
                                                {{ "detail.priceDataInfoUntil"|trans|sw_sanitize }}
                                                <span class="product-block-prices-quantity">{{ price.quantity }}</span>
                                            {% endif %}
                                        </th>
                                    {% endblock %}

                                    {% block page_product_detail_price_block_table_body_cell_price %}
                                        <td class="product-block-prices-cell">
                                            {{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                                        </td>
                                    {% endblock %}

                                    {% block page_product_detail_price_block_table_body_cell_reference_price %}
                                        {% if price.referencePrice is not null %}
                                            <td class="product-block-prices-cell">
                                                {{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ price.referencePrice.referenceUnit }} {{ price.referencePrice.unitName }}
                                            </td>
                                        {% endif %}
                                    {% endblock %}
                                </tr>
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                    </tbody>
                {% endblock %}
            </table>
        {% endblock %}
    </div>
{% endblock %}
