{% set totalBundlePrice = 0 %}
<table class="table bundle-price-list">
    {% for bundle in bundles  %}
        {% set totalBundlePrice = totalBundlePrice + bundle.product.calculatedPrice.unitPrice %}
        <tr>
            <td>
                {% if bundle.product.cover %}
                    {% sw_include '@Storefront/storefront/page/components/bundle-product-list-image.html.twig'  with {product: bundle.product} %}
                {% else %}
                    <div class="product-image-placeholder">
                        {% sw_icon 'placeholder' style {'size': 'fluid'} %}
                    </div>
                {% endif %}
            </td>
            <td>{{ bundle.product.translated.name }}</td>
            <td>
                {% if bundle.product.calculatedPrices|length > 1 %}
                    {% sw_include '@Storefront/storefront/page/components/bundle-product-quantity-discount-prices.html.twig'  with {bundle: bundle} %}
                {% else %}
                    <span class="bundle-unit-price">
                        {{ bundle.product.calculatedPrice.unitPrice|currency }}
                    </span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
            <p class="product-detail-price bundle-price text">
                {{ totalBundlePrice | currency }}
            </p>
        </td>
    </tr>
</table>
