{% sw_thumbnails 'cart-item-img-thumbnails' with {
    media: product.cover.media,
    sizes: {
        'default': '50px'
    },
    attributes: {
        'class': 'img-fluid order-item-img',
        'alt': product.translated.name,
        'title': product.translated.name
    }
} %}
