{% block sw_product_detail_content_tabs_advanced_variants %}
    {% parent %}
    <sw-tabs-item :route="{ name: 'bundleproduct.product.detail.bundle', params: { id: $route.params.id } }" title="Bundle">
        {{ $tc('sw-product.detail.bundleCardLabel') }}
    </sw-tabs-item>
{% endblock %}
