.sd-sw-bundle-assigner {
  ul {
    list-style: none;

    li {

      &:nth-child(even) {
        background: #f0f2f5;
      }

      .row {
        min-height: 42px;
        padding: 10px 20px;
        border-bottom: 1px solid #d1d9e0;
        display: flex;
        justify-content: space-between;
      }

    }
  }

  input[type="number"] {
    height: 42px;
    display:block;
    width: 100%;
    text-align: center;
  }

  .add-btn,
  .remove-btn,
  .show-info {
    cursor: pointer;
  }

  .empty-state {
    margin: 50px 0 0 0;
    text-align: center;
    .sw-icon {
      display: block;
      margin: 0 auto;
      color: #9BE8A3;
    }
  }

  .add-button-container {
    padding: 15px;
  }

  .sd-context-menu {
    text-align: right;
  }

  .sd-bundle-menu {
    text-align: right;
  }

  .sd-bundle-title {
    display: flex;
    justify-content: space-between;
  }

}