<section class="sd-sw-bundle-assigner container">
    <sw-card-view>
        <sw-loader size="50px" v-if="isLoading"></sw-loader>
        <sw-card v-if="products" :title="$tc('swBundleAssigner.title')" large>
            <sw-container columns="1fr 1fr">
                <sw-card-section divider="right">
                    <div class="sw-simple-search-field">
                        <sw-field type="text"
                                  class="sw-simple-search-field__input"
                                  v-model="searchTerm"
                                  :placeholder="$tc('swBundleAssigner.searchForProducts')"
                                  v-on:keyup.enter="search">
                        </sw-field>
                        <slot name="sw-simple-search-field-icon">
                            <sw-icon class="sw-simple-search-field__search-icon" name="small-search" small></sw-icon>
                        </slot>
                    </div>
                    <ul v-if="products.length">
                        <li v-for="product in products">
                            <div class="row">
                                <span>{{ product.translated.name }} ({{ product.productNumber }})</span>
                                <sw-icon name="default-arrow-simple-right"
                                         v-if="!product.isBundled"
                                         class="add-btn"
                                         @click="product.productForm.showForm = !product.productForm.showForm"
                                >
                                </sw-icon>
                            </div>
                            <div v-if="product.productForm.showForm">

                                <sw-container columns="1fr 1fr">
                                    <div>
                                        <sw-description-list>
                                            <dt>{{ $tc('swBundleAssigner.product.minQty') }}</dt>
                                            <dd><input type="number" v-model="product.productForm.minQty"/></dd>
                                            <dt>{{ $tc('swBundleAssigner.product.maxQty') }}</dt>
                                            <dd><input type="number" v-model="product.productForm.maxQty"/></dd>
                                        </sw-description-list>
                                    </div>
                                    <div>
                                        <sw-description-list>
                                            <dt>{{ $tc('swBundleAssigner.product.defaultQty') }}</dt>
                                            <dd><input type="number" v-model="product.productForm.defaultQty"/></dd>
                                            <dt>{{ $tc('swBundleAssigner.product.sortOrder') }}</dt>
                                            <dd><input type="number" v-model="product.productForm.sortOrder"/></dd>
                                        </sw-description-list>
                                    </div>
                                </sw-container>

                                <div class="add-button-container">
                                    <sw-button @click="addToBundledProducts(product)" :disabled="false"
                                               variant="primary" size="small" :square="false" :block="true"
                                               :isLoading="false">
                                        {{ $tc('swBundleAssigner.product.add') }}
                                    </sw-button>
                                </div>

                            </div>
                        </li>
                    </ul>

                    <div v-if="!products.length">
                        <p>
                            {{ $tc('swBundleAssigner.search.noProductsFound') }}
                            <span v-if="searchTerm">{{ $tc('swBundleAssigner.search.useOtherSearchTerm') }}</span>
                        </p>
                    </div>

                </sw-card-section>
                <sw-card-section>

                    <section v-if="bundles.length">
                        <div v-for="(bundle, index) in bundles" :key="bundle.id">
                            <section class="sd-bundle-title">
                                <h2>{{  bundle.product.translated.name }}</h2>
                                <section class="sd-sorting-menu">
                                    <sw-button-group>
                                        <sw-button :disabled="index === (bundles.length - 1)"
                                                   @click="increaseSortOrderForBundle(bundle)"
                                                   :square="true">
                                            <sw-icon name="default-arrow-simple-down" small></sw-icon>
                                        </sw-button>
                                        <sw-button :disabled="index === 0"
                                                   @click="decreaseSortOrderForBundle(bundle)"
                                                   :square="true">
                                            <sw-icon name="default-arrow-simple-up" small></sw-icon>
                                        </sw-button>
                                    </sw-button-group>
                                </section>

                            </section>

                            <sw-card :large="true">
                                <section class="sd-bundle-menu">
                                    <section class="sd-context-menu">
                                        <sw-context-button :showMenuOnStartup="false" :menuWidth="220"
                                                           menuHorizontalAlign="right" menuVerticalAlign="bottom"
                                                           icon="small-more" :disabled="false" :autoClose="true">
                                            <sw-context-menu-item
                                                    @click="bundle.productForm.showForm = !bundle.productForm.showForm">
                                                {{ $tc('swBundleAssigner.bundle.edit') }}
                                            </sw-context-menu-item>
                                            <sw-context-menu-item @click="removeBundleFromProduct(bundle)"
                                                                  variant="danger">
                                                {{ $tc('swBundleAssigner.bundle.remove') }}
                                            </sw-context-menu-item>
                                        </sw-context-button>
                                    </section>
                                </section>

                                <div v-if="!bundle.productForm.showForm">
                                    <sw-description-list>
                                        <dt>{{ $tc('swBundleAssigner.product.minQty') }}</dt>
                                        <dd>{{ bundle.minQty }}</dd>
                                        <dt>{{ $tc('swBundleAssigner.product.maxQty') }}</dt>
                                        <dd>{{ bundle.maxQty }}</dd>
                                        <dt>{{ $tc('swBundleAssigner.product.defaultQty') }}</dt>
                                        <dd>{{ bundle.defaultQty }}</dd>
                                    </sw-description-list>
                                </div>

                                <div v-if="bundle.productForm.showForm">
                                    <sw-container columns="1fr 1fr">
                                        <div>
                                            <sw-description-list>
                                                <dt>{{ $tc('swBundleAssigner.product.minQty') }}</dt>
                                                <dd><input type="number" v-model="bundle.minQty "/></dd>
                                                <dt>{{ $tc('swBundleAssigner.product.maxQty') }}</dt>
                                                <dd><input type="number" v-model="bundle.maxQty "/></dd>
                                            </sw-description-list>
                                        </div>
                                        <div>
                                            <sw-description-list>
                                                <dt>{{ $tc('swBundleAssigner.product.defaultQty') }}</dt>
                                                <dd><input type="number" v-model="bundle.defaultQty "/></dd>
                                                <dt>{{ $tc('swBundleAssigner.product.sortOrder') }}</dt>
                                                <dd><input type="number" v-model="bundle.sortOrder "/></dd>
                                            </sw-description-list>
                                        </div>
                                    </sw-container>
                                    <sw-button @click="updateBundle(bundle)" :disabled="false" variant="primary"
                                               size="small" :square="false" :block="true" :isLoading="false">
                                        {{ $tc('swBundleAssigner.bundle.save') }}
                                    </sw-button>
                                </div>

                            </sw-card>
                        </div>

                    </section>

                    <div class="empty-state" v-if="!bundles.length">
                        <sw-icon name="default-action-duplicate" size="60px"></sw-icon>
                        <h2>{{ $tc('swBundleAssigner.emptyBundles.title') }}</h2>
                        <p>{{ $tc('swBundleAssigner.emptyBundles.subTitle') }}</p>
                    </div>

                </sw-card-section>
            </sw-container>
        </sw-card>
    </sw-card-view>
</section>
